<table style="width: 100%; padding: 4px 35px; background-color: #db9292; box-sizing: border-box">
    <tr>
        <td style="font-size: 20px; text-align: left;">
            <b>LOGO</b>
        </td>
        <td style="text-align: right;">
            <img style="width: 55px; height: 55px; margin: 0"
                 src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.shutterstock.com%2Fsearch%2Frocet-logo%3Fimage_type%3Dvector&psig=AOvVaw2npzsW5Ni9km4gVirnoEMg&ust=1674556025258000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCLD27Lq93fwCFQAAAAAdAAAAABAE"
                 alt="icon">
        </td>
    </tr>
</table>
